h1 {
  font-family: 'Lato';
  color: #000066;
}

body {
  font-family: 'Poppins';
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #c2f0f0;
  color: black;

}

.nameheader {
    height:25%;
    margin: 0;
    font-size: 128px;
  
} 

