body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #c2f0f0;
  color: black;
  font-family: 'Poppins';
}

div.nameheader h1{
    margin: 0;
    font-size: 72px;
    color: #000066; 
    font-family: 'Lato';
} 


